AdatKezelő/Service References/Reklam_Hibalog/ServiceReklam.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceReklam" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ReklamServiceLibrary/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ReklamServiceLibrary/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceReklam_ReklamEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReklamEmail" />
  </wsdl:message>
  <wsdl:message name="IServiceReklam_ReklamEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReklamEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReklam_Hibalog_InputMessage">
    <wsdl:part name="parameters" element="tns:Hibalog" />
  </wsdl:message>
  <wsdl:message name="IServiceReklam_Hibalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:HibalogResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceReklam">
    <wsdl:operation name="ReklamEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReklam/ReklamEmail" message="tns:IServiceReklam_ReklamEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReklam/ReklamEmailResponse" message="tns:IServiceReklam_ReklamEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hibalog">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReklam/Hibalog" message="tns:IServiceReklam_Hibalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReklam/HibalogResponse" message="tns:IServiceReklam_Hibalog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceReklam" type="tns:IServiceReklam">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReklamEmail">
      <soap:operation soapAction="http://tempuri.org/IServiceReklam/ReklamEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hibalog">
      <soap:operation soapAction="http://tempuri.org/IServiceReklam/Hibalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceReklam">
    <wsdl:port name="BasicHttpBinding_IServiceReklam" binding="tns:BasicHttpBinding_IServiceReklam">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ReklamServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>